/* Mirror changes to this file to /.obsidian/callouts.css */

.callout[data-callout="protocol"] {
    --callout-color: var(--callout-success);
    --callout-icon: lucide-play;
}

.callout[data-callout="algorithm"] {
    --callout-color: var(--callout-success);
    --callout-icon: lucide-cog;
}

.callout[data-callout="definition"] {
    --callout-color: var(--callout-example);
    --callout-icon: lucide-book-open-check;
}

.callout[data-callout="lemma"] {
    --callout-color: var(--callout-summary);
    --callout-icon: lucide-cup-soda;
}

.callout[data-callout="theorem"] {
    --callout-color: var(--callout-summary);
    --callout-icon: lucide-coffee;
}

.callout[data-callout="proof"] {
    --callout-color: var(--callout-quote);
    --callout-icon: lucide-pen-tool;
}